
:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body{
    display: flex;
    background-color: var(--yellow);
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Figtree', sans-serif;
    font-weight: 400; 
}

main{
    display: flex;
    background-color: var(--white);
    height: 390px;
    width: 260px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px; 
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 1);
}

.Img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
}
svg{
    border-radius: 20%;
}

.Learning{
    display: flex;
    background-color: var(--yellow);
    border-radius: 10%; 
    padding:10px;
    margin-left: 15px;
    width: auto;
    height: 10px;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.Learning p{
    color: var(--gray-950);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Figtree', sans-serif;
}

.Fecha{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: -15px;
}

.Fecha p{
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    color: var(--gray-500);
    font-weight: 400;
}

.Secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-top: -15px;
}

.Secundario h1{
    font-weight: 800;
    font-size: 18px;
    margin-top: 2px;
}

.Secundario p{
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-500);
    margin: -5px;
    margin-left: auto;
}
.Nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: -15px;
}

.Nombre img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
}

.Nombre p {
    font-size: 16px;
    margin-right: 10px;
    margin-top: 30px;
}


.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

